/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

/*body {
    background: url(http://i.imgur.com/b73AUs0.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
  background-size: cover;
  margin: 0px auto;
}*/

header {

}

.navbar-culdesac {
  margin-top: 0;
  padding-bottom: 20px;
  background-color: #61c4e9;
  position: relative;
  padding: 10px 0 10px 20px;
}

h3 {

  text-align: right;
  margin-top: 10px;
  position: relative;

}


.panel {
  max-width: 333px;
}

.img {
  max-width: 300px;
  border-radius: 20px;
}

.show_image {
  max-width: 500px;
  border-radius: 20px;
}

a.fav {
   color: #ce3641;
   text-decoration: none;
 }

a.no-fav {
   color: black;
   text-decoration: none;
 }
